<select name="post[:player]" id="post_author_id">
  <option value="IMRosen">IM Eric Rosen</option>
  <option value="AlexandraBotez">WFM Alexandra Botez</option>
  <option value="MagnusCarlsen">GM Magnus Carlsen</option>
  <option value="PlayClassic" selected="selected">Play Classic</option>
</select>
<%= button_to 'Start Game', users_new_game_path, method: :post %>
