<section class="current-quest">
  <%= quest.name %>
  <% if current_game.nil? %>
    <%= render "game_selection" %>
  <% else %>
    <%= button_to "Continue Quest", gameplay_path(current_game.id), method: :get, class: 'btn btn-primary mb-3' %>
  <% end %>
</section>
