<h1>User Dashboard</h1>
<h2>Welcome to Chess Quest, <%= current_user.email %>!</h2>

  <% if !@current_quest %>
    <%= button_to 'Start Quest', new_quest_path, method: :post %>
  <% else %>
    <%= render 'quest' %>
  <% end %>

  <% if @completed_quests %>
    <%= render partial: 'quest', collection: @completed_quests, locals: {current_game: @current_game} || 'No active Quests' %>
  <% end %>

