<h1>User Dashboard</h1>
<h2>Welcome to Chess Quest, <%= current_user.email %>!</h2>

  <% if @quests.nil? %>
    <%= button_to 'Start Quest', users_new_quest_path(current_user), method: :get %>
  <% else %>
    <%= render partial: 'quest', collection: @quests, locals: {current_game: @current_game} || 'No active Quests'%>
  <% end %>

<%# link_to 'Sign Out', destroy_user_session_path %>
