Good luck
<div class="d-flex justify-content-center pt-5">
  <div id="myBoard" style="width: 800px"></div>
  <script>
  var game_config = {
    draggable: true,
    position: "<%= @game.fen %>",
    onDragStart: onDragStart,
    onDrop: onDrop,
    onSnapEnd: onSnapEnd,
    pieceTheme: "/assets/chesspieces/wikipedia/{piece}.png"
  }
  </script>
  <script>
  board = Chessboard('myBoard', game_config)
  </script>
</div>