<h1>Welcome</h1>

<section class='description'>
<p>Thunderdome meets Hearthstone Arena meets Chess. Welcome to CHESS QUEST! Your journey starts with only the pieces remaining from a game! How far will your quest take you? <%= link_to "Sign in", user_google_oauth2_omniauth_authorize_path, method: :post %> to find out!</p>
</section>
