/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

@font-face {
  font-family: 'Open-Dyslexic';
  src: url(asset-path('OpenDyslexicMono-Regular.otf')) format("truetype");
}

body {
  background-color: #f5f5f5;
  font-family: 'Open-Dyslexic';
  font-size: 1.5rem;
  overflow-x: hidden;
  height: 100%;
}

#footer {
  font-size: 0.9rem;
  box-shadow: 0 50vh 0 50vh #343a40;
}

.flash__alert   {
 color: red;
}

.flash__notice  {
  color: blue;
}

.flash__success {
  color: green;
}

.clicked {
  transform: rotate(180deg);
}
.clicked-90 {
  transform: rotate(90deg);
}

.navbar-toggler-icon{
  font-size: 2em;
}
